**/__pycache__/
*.py[cod]
*$py.class
backups/
data/
Plots/
Plots_V7/
Plots_MARS_CC_Python/
Plots_MARS/
Plots_MARS_BlandAltman/
Plots_MARS_BlandAltman_Test/
Plots_MARS_PassingBablok/
Plots_TUNSPEKT/
Plots_TUNSPEKT_BlandAltman/
Plots_TUNSPEKT_PassingBablok/
